*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    height: 80px;
    background-color: darkcyan;
    margin: 0;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    
}

header a {
    color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
    padding-top: 10px;
}


nav a {
    transition: color 0.3s ease;
    font-weight: 700;
    padding-right: 10px;
    color: white;
    font-size: 20px;
 
}

nav a:hover {
    color: darkmagenta
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 12px;
    font-size: 16px;
}

.titulo-home {
    height: 90px;
    width: 10px;
    padding-left: 100px;
}

.titulo-home h1 {
    font-size: 80px;
    color: white;
    padding-left: 100px;
    padding-top: 52px;
    text-decoration: underline;
}

.baner {
    display: flex;
    color: white;
    font-size: 25px;
    flex-direction: column-reverse;
    align-items: center;
}

.box-parrafo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.box-parrafo p {
    text-align: left;
    padding-left: 30px;
    padding-right: 50px;
    line-height: 50px;
    font-size: 23px;
    font-weight: 600;
}
.img-container{
display: flex;
}

.img-container img {
    width: 400px;
}

footer {
    margin: 0;
    height: 2%;
    background-color: #222;
    padding: 3rem;
    color: white;
}

footer section {
    float: right;
}

section a {
    transition: color 0.3s ease;
    color: white;
    padding-right: 20px;
}

footer a:hover {
    color: darkmagenta;
}
footer p {
    margin: 0;
}

.container-fondo {
    padding-top: 15px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.container-img {
    background-image: url(../img/fondo.jpg);
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-tour {
    display: flex;
    color: white;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 10px 0px 30px 0px;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 20%;
}

.titulo-tour h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline;
}

.box-tour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}

.columna {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    width: 45%;
        

}

.lista-tour{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px;
    color: white;   
    width: 80%;
}

.boton-1{
    display: flex;
    color: white;
    background-color: #008b8b9e;
    flex-direction: row;
    width: 117px;
    height: 36px;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 25px 70px;
    font-size: 25px;
}

.box-discografia {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.box-discografia h1{
    font-size: 80px;
    font-weight: 600;
    text-decoration: underline;
}

.box-discografia p { 
    font-size: 23px;
}

.spotify-box{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 200px;
}

.img-discografia {
    display: flex;
    justify-content: center;
}

.img-discografia img {
    width: 50%;

}

.artista {
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.artista h2 {
    font-size: 20px;
    padding-bottom: 32px;
}

.artista a {
    display: flex;
    color: white;
    background-color: #008b8b9e;
    flex-direction: row;
    width: 80px;
    height: 46px;
    border-radius: 28px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 25px 70px;
    font-size: 20px;
}
.galeria {
    width: 50%;
}

.box-galeria {
    display: flex;
    padding: 5px;
}

.columna-img {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-around;
}

.columna-img .galeria {
    margin-top: 5px;
}

.bloque-derecha {
    display: flex;
    flex-direction: row-reverse;
}

.titulo-galeria{
    display: flex;
    justify-content: center;
}

.titulo-galeria h1{
    font-size: 80px;
    color: white;
    text-decoration: underline;
}

.titulo-contacto {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-contacto h1 {
    padding-left: 37px;
    font-size: 80px;
    font-weight: 600;
    text-decoration: underline;
} 
.titulo-contacto p {
    width: 50%;
    padding: 20;
    font-size: 23px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
}

.box-comentario{
    height: 50%;
}

.datos {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
}

.grupo-form1 {
    display: flex;
    margin-bottom: 0.5rem;
    flex-direction: column;
    align-items: stretch;
    height: 60px;
}

form  {
    color: white;
    font-size: 20px;
}

.box-datos {
    display: block;
    width: 100%;
    height: 100px;
    padding: 0.375rem 0.75rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

textarea {
    margin-bottom: 15px;
}

.boton-comentario {
    display: flex;
    color: white;
    background-color: #008b8b9e;
    flex-direction: row;
    width: 40px;
    height: 29px;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}

iframe {
    border-radius: 12px
}
